@model IEnumerable<Team14_Final_Project.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
     
        <th>
            @Html.ActionLink("Major", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
       
            <th>
                @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUsers.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUsers.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUsers.Email)
            </th>
            @*<th>
        @Html.DisplayNameFor(model => model.EmailConfirmed)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PasswordHash)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.SecurityStamp)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.TwoFactorEnabled)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LockoutEnabled)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.AccessFailedCount)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.AppUsers.UserName)
    </th>*@
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentMajor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradSemester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPA)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUsers.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUsers.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUsers.Email)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordHash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecurityStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUsers.UserName)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentMajor.MajorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradSemester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPA)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
                </td>
            </tr>
        }

    </table>
